<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<div class="col-12">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" style="letter-spacing: 5px;" href="">CRM-Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="">Home</a> </li>
                <!-- <li><a href="#">Page1</a></li>
                <li><a href="#">Page2</a></li> -->
            </ul>
            <div class="row">
                <ul class="nav navbar-nav navbar-right">
                    <!-- (click)="register()" -->
                    <li><a class="nav-item" href="register"><span class="glyphicon glyphicon-user"> SIGN-UP</span></a></li>
                    <li><a class="nav-item" href="login"><i class="glyphicon glyphicon-log-in"> LOG-IN</i> </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- <div *ngIf="callRegisterComponent==false" class="col-md-12">
    <app-login></app-login>
</div>
<div *ngIf="callRegisterComponent==true" class="col-md-12">
    <app-register></app-register>
</div> -->