<section class="footer">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-3">
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
            </div>
            <div class="col-md-3">
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
            </div>
            <div class="col-md-3">
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
            </div>
            <div class="col-md-3">
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
                <a>
                    <p>Vehicle Showrooom</p>
                </a>
            </div>
        </div> -->
    <div class="row" style="font-family: Brush Script MT, Brush Script Std, cursive; font-size: 400%; padding-left: 22%;">
        CRM - We starve for perfection...!
    </div>
    <button routerLink="/register-complaint" class="btn btn-outline-light"><span></span>Register Complaint</button>
    </div>
</section>
<section class="copyright text-center p-2">
    <div>
        <h3 class="h5">Copyright Vehicle Showrooom @2020</h3>
    </div>
</section>
