<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <div class="col-md-1">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <a class="navbar-brand" style="letter-spacing: 5px;" href="/admin-home"> <label class="admin-label">
                    CRM-Tool</label></a>
            <div class="row" style="margin-right: 3%; font-size: 120%;">
                <!-- Top Menu Items -->
                <!-- <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a>
                <a class="nav-link" href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a> -->
                <a class="nav-link" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Log out</a>
            </div>
            <!-- SideBar -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <!-- <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i
                                class="fa fa-bar-chart-o"></i> STATISTICS</a>
                    </li> -->
                    <li>
                        <a href="/customers"><i class="fa fa-fw fa-users" style="font-size:15px"></i> CUSTOMERS</a>
                    </li>

                    <li>
                        <a href="/manage-vehicles" data-toggle="collapse" data-target="#submenu-2"><i
                                class='fa fa-fw fa-motorcycle' style="font-size:18px"></i> VEHICLES</a>
                    </li>
                    <!-- <li>
                            <a (click)="tap()" data-toggle="collapse" data-target="#submenu-2">Vehicles</a>

                        </li> -->
                    <li>
                        <a href="/manage-offer"><span class="glyphicon glyphicon-tags"
                                style="padding-right: 7px;font-size:15px"></span> OFFERS</a>
                    </li>
                    <!-- <li>
                        <a href="#">Services</a>
                    </li> -->

                </ul>
            </div>
        </nav>

   
    </div>
    <section>
        <div class="testimonial-row">
            <div class="testimonial-col">
                <div class="user">
                    <div class="user-info">
                        <div class="card-body">
                            <h5 class="card-title h3 bbbox"> Hello, {{ name }} </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
</div>

