.legend
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-content: center;
}
.float-centre
{
    margin-left: 30%;
}
.align-content-proper
{
    margin-left: 1%;
}
